.ContenedorRegistrar {
    justify-content: center;
    display: flex;

}

.container {
    display: flex;
    align-items: center;
}

.alert {
    margin-left: 50px;
}

h1 {
    text-align: center;
}

.registerId {
    display: none;
}